<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <?php echo $this->getPageTitle('-'); ?>PHPenalva
    </title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Welcome to PHPEnalva - A PHP Microframework">
    <meta name="author" content="Yan Brasiliano Silva Penalva">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand">
                <span class="logo-text">PHP<span class="brand-color" id="logo-name">enalva</span></span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">Welcome PHPenalva Microframework</h1>
                <p class="lead">PHPenalva is a simple and efficient PHP microframework for building web applications.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/logomarca.png" alt="PHPenalva Logo" class="img-fluid" id="logo">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Requirements</h2>
                <ul>
                    <li>PHP Version: PHP 7.4 or higher is required.</li>
                    <li>Web Server: You'll need a web server with URL rewriting enabled.</li>
                    <li>Supported Servers: PHPenalva plays nicely with Apache, Nginx, and IIS.</li>
                    <li>Database Compatibility: PHPenalva is compatible with MySQL, MariaDB, PostgreSQL, and SQLite.
                    </li>
                    <li>Platform: PHPenalva can be used on Linux, Windows, and macOS.</li>
                </ul>

                <h2>Installation</h2>
                <p>Getting started with PHPenalva is a breeze. You can install it via Composer with the following
                    command in
                    your project directory:</p>
                <code>composer require phpenalva/phpenalva</code>

                <h2>Documentation</h2>
                <p>Our comprehensive documentation is readily available at {{TODO}}. We're continually working on
                    enhancing it
                    to help you make the most of PHPenalva's features.</p>

                <h2>Routes Example</h2>
                <p>Here are some example routes that you can define in your PHPenalva application:</p>

                <span><strong>Route with views:</strong></span>
                <ul>
                    <li><strong>GET /posts:</strong> List all posts. Access it in your browser to view the posts.</li>
                    <li><strong>GET /post/{id}:</strong> View details of a specific post. Replace {id} with the
                        desired post ID in the URL.</li>
                </ul>
                <span><strong>Route without views:</strong></span>

                <ul>
                    <li><strong>POST /post:</strong> Create a new post. Send a POST request to this route with the
                        required parameters to create a new post.</li>
                    <li><strong>PUT /post/{id}:</strong> Update an existing post. Send a PUT request to this route
                        with the required parameters to update an existing post. Replace {id} with the desired post ID
                        in the URL.</li>
                    <li><strong>DELETE /post/{id}:</strong> Delete an existing post. Send a DELETE request to this
                        route with the required parameters to delete an existing post. Replace {id} with the desired
                        post ID in the URL.</li>
                </ul>
                <br>
                <p>Feel free to explore these routes in your browser to see PHPenalva in action!</p>

                <h2>Contributing</h2>
                <p>PHPenalva is an open-source project, and we warmly welcome contributions from the community.
                    Whether
                    it's bug
                    fixes, new features, or improvements, your input is valuable to us. Please see our
                    CONTRIBUTING.md for guidelines on how to contribute.</p>

                <h2>License</h2>
                <p>PHPenalva is released under the MIT License. For more details, please refer to the LICENSE file.
                    If
                    you need
                    any assistance or have questions, don't hesitate to reach out to us.</p>

                <p>Thank you for choosing PHPenalva for your development needs! Enjoy coding with PHPenalva! 🚀🌐
                </p>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>